/*
!/readme.md
!/archive
/archive/*
!/archive/ast
!/archive/examples
!/archive/sublime
!/archive/*.md
!/drafts
!/sublime

# Almost last to ban `.DS_Store` etc.
.*

# Unban non-junk dotfiles.
!.git*
!*ignore
!*rc
!*config
